.listItemTitle{
    font-weight: bold;
}
.makeTouchable{
    cursor: pointer;
    display: inline-block;
    margin: .5rem;
    transition: box-shadow .5s, transform .5s;
}
.makeTouchable:hover{
    transform: scale(1.02);
    box-shadow: 0 0 11px rgba(33,33,33,.2);  
}
.cost{
    color: rgb(106, 180, 118);
}
