.section{
    background-color: #F9F3DF;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

.inputBox{
    background-color: transparent;
    border: 1px solid gray;
}
.content{
    position: absolute;
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    margin-bottom: 200px;
}
.signInContainer{
    width: 400px;
    margin: -75px auto 0 auto ;
    background-color: transparent;
    padding:60px 40px;
    border: .5px solid gray;
    
    
}
.logo{
    margin-top: -80px;
    margin-bottom: 30px;
}
.label{
    color: black;

}
.adminLink{
    position: absolute;
    right:0;
    transform: translate(-100%, -100%);
    margin-top: 50px;
    margin-bottom: 200px;
}
.buttonContainer{
    margin-top: 30px;
}


.adminLink:hover{
    color: gray !important;
}
.createAccount:hover{
color: gray !important;
}

.invalidCredentials{
    color: rgb(167, 27, 27);
    
}