.section{
    background-color: gray;
    text-align: center;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
}

.inputBox{
    background-color: transparent;
    border: 1px solid #F9F3DF;
}
.content{
    margin: auto;
    display: flex;
}
.signInContainer{
    min-width: 30vw;
    margin: -75px auto 0 auto ;
    background-color: transparent;
    padding:60px 40px;
    border: .5px solid #F9F3DF;
}
.title{
    color: #F9F3DF;
    display: inline-block;
    position: relative;
    margin-top: 60px;
     
}
.label{
    color: #F9F3DF;

}

.buttonContainer{
    margin-top: 30px;
    
}
.button{
    color: #F9F3DF !important;
    border-color: #F9F3DF !important;
}


.adminLink:hover{
    color: gray !important;
}
.createAccount:hover{
color: gray !important;
}

.invalidCredentials{
    color: rgb(167, 27, 27);
    
}