.container{
    border: .2px solid black;
    max-width: 40vh;
    overflow-wrap: break-word;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.container:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);  
}

.name{
    font-weight: bold;
}

.text{
    margin-left: 5px;
    width: 100%;
}

.X{
    color:gray;
    cursor: pointer;
    margin: auto 20px;
}